* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://code.s3.yandex.net/web-code/images/dotted-l.svg);
}

button {
  display: block;
  border: 1px solid #000;
  padding: 10px 65px;
  color: #000;
  font-family: inherit;
  font-weight: 800;
  font-size: inherit;
  text-transform: uppercase;
  background-color: #ffc802;
}

button:hover {
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 0.15);
  cursor: pointer;
}

button:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}

label {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}

input:not([type=checkbox]) {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #000;
  padding: 10px 15px;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

input:not([type=checkbox]):last-of-type {
  margin-bottom: 0;
}

input:not([type=checkbox])::placeholder {
  color: rgb(0 0 0 / 0.6);
}

input:not([type=checkbox]):focus {
  outline: 2px solid #000;
  outline-offset: 0;
}

input[type=checkbox] {
  width: 27px;
  height: 27px;
  margin: 0;
  accent-color: #000;
}

input[type=checkbox]:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}

input[type=checkbox] {
  width: 27px;
  height: 27px;
  margin: 0;
  accent-color: #000;
}

input[type=checkbox]:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 45px;
  background-color: #80d994;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;

  /* clip: rect(0 0 0 0); */
  clip-path: inset(0, 0, 0, 0);
}